*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html{
    background-color: rgb(255, 234, 152);
}

body{
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    border-bottom: 1px solid rgb(182, 239, 108);
    background-color: rgb(185, 188, 144);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar .logo{
    font-family: 'Lilita One', cursive;
    font-size: 50px;
    font-weight: 700;
}

.navbar a{
    color: green;
}

.navbar a span{
    color: rgb(252, 255, 254);
}

.navbar .divi a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin: 0 10px;
}

.navbar .divi a:hover,
.sec-product .menu a:hover{
    color: blue;
}

.navbar .divi a::after,
.sec-product .menu::after{
    content: '';
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid blue;
    transform: scaleX(0);
    transition: 0.1s;
}

.navbar .divi a:hover::after,
.sec-product .menu a:hover::after{
    transform: scaleX(1);
}

.navbar .logo-div{
    display: none;
}

.sec-home{
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    background-image: url('../gambar/background-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
}

.sec-home .content{
    padding: 50px 37%;
}

.sec-home .content h1{
    font-size: 40px;
    color: rgb(0, 185, 0);
}

.sec-home .content span{
    color: rgb(0, 93, 0);
}

.sec-home .content p{
    font-size: 17.5px;
    margin-top: 20px;
    line-height: 1.4;
    font-weight: 50;
}

.sec-about,
.sec-product{
    padding: 100px 7% 20px;
}

.sec-about h2,
.sec-product h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: green;
}

.sec-about span{
    color: rgb(0, 0, 0);
}

.sec-about .row{
    display: flex;
}

.sec-about .row .image{
    flex: 1 1 1100px;
}

.sec-about .row img{
    width: 100%;
}

.sec-about .row .content{
    flex: 1 1 1000px;
    padding: 0 20px;
    color: black;
}

.sec-about .row .content h3{
    font-size: 20px;
    margin-bottom: 12px;
}

.sec-about .row .content p{
    font-size: 15px;
    margin-bottom: 16px;
}

.sec-product .menu{
    display: flex;
    text-align: center;
}

.sec-product .menu a{
    font-size: 25px;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: rgb(127, 142, 255);
    border: 4px solid rgb(0, 0, 0);
    background-color: rgb(173, 249, 248);
}

.sec-product .produk .produk-buah,
.sec-product .produk .produk-sayur.active{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.sec-product .produk h3{
    text-align: center;
    font-size: 20px;
    color: black;
}

.sec-product .row img{
    height: 250px;
    width: 200px;
    border-radius: 10%;
}

.sec-product .produk .produk-sayur,
.sec-product .produk .produk-buah.active{
    display: none;
}

.sec-product .menu #buah.active,
.sec-product .menu #sayur.active{
    color: blue;
    font-weight: 900;
}

footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer .link{
    padding-bottom: 10px;
}

footer .link a{
    text-decoration: none;
    margin: 30px;
    color: white;
}

footer .profile p{
    color:aquamarine
}

footer .profile span{
    color: aqua;
}

@media(max-width: 1366px) {
    html{
        font-size: 90%;
    }
}

@media(max-width: 550px) {
    html{
        font-size: 75%;
    }

    .navbar .logo{
        font-size: 35px;
    }

    .navbar .logo-div{
        display: inline-block;
    }

    .navbar .divi{
        position: absolute;
        top: 100%;
        right: -200%;
        background-color: rgb(144, 222, 193);
        width: 550px;
        height: 2000px;
        transition: 0.3s;
    }

    .navbar .divi.active{
        position: absolute;
        right: -70%;
    }

    .navbar .divi a{
        display: block;
        margin: 20px;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar .divi a::after{
        transform-origin: 0 0;
    }

    .navbar .divi a:hover::after{
        transform: scaleX(0.1);
    }

    .sec-about .row{
        display: block;
    }

    .sec-about .row .image img{
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

    .sec-about .row .content{
        padding: 0;
    }

    .sec-product .row{
        align-items: center;

    }

    .sec-product .row img{
        height: 300px;
        width: 250px;
        border-radius: 10%;
        object-position: center;
    }
}